@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .modal-slide-down {
    animation: slideDown 0.5s ease-out;
  }
  
  .modal-slide-up {
    animation: slideUp 0.5s ease-out;
  }

  .modal-shadow {
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45); 
  
}



 /* for custome scroll */
.customescroll::-webkit-scrollbar {
  height: 4px;  
  width: 4px;  
}

.customescroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customescroll::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.customescroll::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}


.customescroll {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #f1f1f1;
}